<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Natit</string>
	<key>CFBundleIdentifier</key>
	<string>com.dmweb.Natit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Natit</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1d1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Natit</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.dmweb.Natit</string>
			<key>IOClass</key>
			<string>com_dmweb_Natit</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>display</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xffff0000</string>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>entriesToAdd</key>
			<dict>
				<key>AAPL,RegEntryID</key>
				<data>
				AF77Cv+hBPVlbWlTemx1Ug==
				</data>
				<key>AAPL,aux-power-connected</key>
				<data>
				AQAAAA==
				</data>
				<key>AAPL,backlight-control</key>
				<data>
				AQAAAA==
				</data>
				<key>AAPL,gart-width</key>
				<string>0x40</string>
				<key>AAPL,gray-page</key>
				<data>
				AQAAAA==
				</data>
				<key>AAPL,gray-value</key>
				<data>
				w4xkAA==
				</data>
				<key>AAPL,os-info</key>
				<data>
				MEkBEQEQCAAAAQAAAAAAAP////8=
				</data>
				<key>AAPL,slot-name</key>
				<data>
				QnVpbHQgSW4A
				</data>
				<key>AAPL01,DualLink</key>
				<data>
				AQAAAA==
				</data>
				<key>IOName</key>
				<string>display</string>
				<key>NVCAP</key>
				<data>
				BQEAAAAAAQAGAAAAAAABDgAAAAA=
				</data>
				<key>NVCLASS</key>
				<data>
				TlZEQQA=
				</data>
				<key>NVDA,gart-width</key>
				<string>0x40</string>
				<key>NVKernelLoaded</key>
				<data>
				AQAAAA==
				</data>
				<key>NVPM</key>
				<data>
				AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
				</data>
				<key>VRAM,totalsize</key>
				<data>
				AAAACA==
				</data>
				<key>built-in</key>
				<string>00</string>
				<key>compatible</key>
				<data>
				cGNpMTA0ZCw5MDcxAHBjaTgwODYsNDYAcGNpY2xhc3Ms
				MDMwMDAwAA==
				</data>
				<key>display-connect-flags</key>
				<data>
				AAAAAA==
				</data>
				<key>model</key>
				<data>
				SW50ZWwgSEQgR3JhcGhpY3MA
				</data>
				<key>name</key>
				<data>
				ZGlzcGxheQA=
				</data>
				<key>reg</key>
				<data>
				ABAAAAAAAAAAAAAAAAAAAAAAAAAQEAACAAAAAAAAAAAA
				AAAAAABAABgQAEIAAAAAAAAAAAAAAAAAAAAQIBAAAQAA
				AAAAAAAAAAAAAAgAAAA=
				</data>
				<key>saved-config</key>
				<data>
				AAAAAAEAAAAGEAAAu5wAAAIAAADAyxcHMAcAAJAGAAAw
				BwAAwAYAAOAGAAA4BAAAGgQAADgEAAAdBAAAIwQAAAIA
				AAAAAAAAAAAAAAAAAAACAAAAkAYAABoEAAAAAAAAAAAA
				wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
				</data>
				<key>saved-timing0</key>
				<data>
				AQAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAMDLFwcAAAAAwMsXBwAAAADAyxcHAAAAAJAG
				AACgAAAAMAAAACAAAAAaBAAAHgAAAAMAAAAGAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==
				</data>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.6</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
	</dict>
</dict>
</plist>
